<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Background Input Template</title>
    <link href="../doc/css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/component_bfile.css" rel="stylesheet" type="text/css">
    <script src="../doc/js/utilities.js"></script>
    <script src="../doc/js/motif_logo.js"></script>
    <script src="../js/site.js"></script>
    <script src="../js/bg_parser.js"></script>
    <script src="../js/component_bfile.js"></script>
    <script>
      var XXXXoptionsXXXX = {
        "file_max": (1<<20) * 1, // 1 MB
        "alphabet": AlphStd.DNA
      };
      function XXXXregister_componentXXXX(id, element, controler) {

      }
    </script>
  </head>
  <body>
    <div class="pop_content" id="pop_${prefix}">
      <p>Information about the background file would be displayed here.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>
    <div class="pop_content" id="pop_bfile">
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>
    <!--{help}-->
    <!--{/help}-->
    <!--{component}-->
            <div class="bfile_input" id="${prefix}">
              <h3 class="meme ${align}">What should be used as the background model?</h3>
              <select class="bfile_source meme" name="${prefix}_source">
                <!--{default_bg}-->
                <option value="default" XXXXselectXXXX>Default background</option>
                <!--{/default_bg}-->
                <!--{nrdb_bg}-->
                <option value="nrdb" XXXXselectXXXX>NRDB frequencies</option>
                <!--{/nrdb_bg}-->
                <!--{uniform_bg}-->
                <option value="uniform" XXXXselectXXXX>Uniform model</option>
                <!--{/uniform_bg}-->
                <!--{meme_bg}-->
                <option value="meme" XXXXselectXXXX>Model in motif file</option>
                <!--{/meme_bg}-->
                <!--{control_bg}-->
                <option value="control" XXXXselectXXXX>Model of control sequences</option>
                <!--{/control_bg}-->
                <!--{zero_order_bg}-->
                <option value="0" XXXXselectXXXX>0-order model of sequences </option>
                <!--{/zero_order_bg}-->
                <!--{first_order_bg}-->
                <option value="1" XXXXselectXXXX>1st order model of sequences</option>
                <!--{/first_order_bg}-->
                <!--{higher_order_bg}-->
                <option value="2" XXXXselectXXXX>2nd order model of sequences</option>
                <option value="3">3rd order model of sequences</option>
                <option value="4">4th order model of sequences</option>
                <!--{/higher_order_bg}-->
                <!--{upload_bg}-->
                <option value="file" XXXXselectXXXX>Upload background model</option>
                <!--{/upload_bg}-->
              </select>
              <span class="bfile_file">
                <span class="background"></span>
                <span class="indicator"></span>
                <input type="file" class="meme" name="${prefix}_file"/>
                <div class="popup"></div>
              </span>
              <div class="help" data-topic="pop_${prefix}"></div>
	      <!--${icon}-->
              <script>
                (function() {
                  "use strict";
                  var options = XXXXoptionsXXXX;
                  var element = document.getElementById("${prefix}");
                  var controler = new BfileInput(element, options);
                  XXXXregister_componentXXXX("${prefix}", element, controler);
                })();
              </script>
            </div>
    <!--{/component}-->
  </body>
</html>


