<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>GLAM2Scan - Submission form</title>
    <link rel="shortcut icon" type="image/x-icon" href="../doc/images/memesuite_icon.ico">
    <link rel="icon" type="image/png" href="../doc/images/memesuite_icon.png">
    <link href="../doc/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/component_glam2motifs.css" rel="stylesheet" type="text/css">
    <link href="../css/component_sequences.css" rel="stylesheet" type="text/css">
    <script src="../doc/js/menu-path.js"></script>
    <script src="../doc/js/menu.js"></script>
    <script src="../doc/js/motif_logo.js"></script>
    <script src="../doc/js/utilities.js"></script>
    <script src="../js/site.js"></script>
    <script src="../js/alphabet_parser.js"></script>
    <script src="../js/fasta-debug.js"></script>
    <script src="../js/bedchecker.js"></script>
    <script src="../js/component_sequences.js"></script>
    <script src="../js/component_glam2motifs.js"></script>
    <script src="../js/glam2scan.js"></script>
  </head>
  <body>
    <div class="pop_content" id="pop_glam2motifs">
      <p>Input GLAM2 motifs.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>
    <div class="pop_content" id="pop_norc">
      <p>When using the RNA sequences you should select this option to ensure
      that only the given strand is scanned for motifs.</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>
    <div class="pop_content" id="pop_alignments">
      <p>The number of alignments to report (&le; 200).</p>
      <div class="pop_close">[ <a href="javascript:help_popup()">close</a> ]</div>
    </div>
    <!--{help/}-->
    <div class="content_box">
      <!--{header}-->
      <p>
      <!--{title}-->GLAM2Scan<!--{/title}--> - <!--{subtitle}-->Scanning with Gapped Motifs<!--{/subtitle}--><br>
      <!--{logo}-->../doc/images/glam2scan_icon.png<!--{/logo}-->: <!--{alt}-->GLAM2Scan Logo<!--{/alt}--><br>
      <!--{blurb}--><span class="blurb" data-id="glam2scan"></span><!--{/blurb}-->
      </p>
      <!--{/header}-->
      <form enctype="multipart/form-data" accept-charset="utf-8"
      method="POST" action="glam2scan" id="glam2scan_form">
        <fieldset>
          <legend>Data Submission Form</legend>
          <p class="meme">Search a set of sequences for a GLAM2 motif.</p> 

          <!--{motifs}-->
          <p style="border: 1px solid black">
          <!--{prefix}-->glam2motifs<!--{/prefix}--><br>
          <!--{description}-->GLAM2 motifs<!--{/description}-->
          <!--{title}-->Input the GLAM2 motifs<!--{/title}--><br>
          <!--{subtitle}-->Enter GLAM2 motifs you wish to scan with.<!--{/subtitle}--><br>
          <!--{default}-->FILE<!--{/default}-->
          <!--{register}-->register_component<!--{/register}-->
          </p>
          <!--{/motifs}-->

          <!--{sequences}-->
          <!--{prefix}-->sequences<!--{/prefix}-->
          <!--{title}-->Input the sequences<!--{/title}-->
          <!--{alph_type}-->DNA_OR_PROTEIN_ALPHABET<!--{/alph_type}-->
          <!--{default}-->FILE<!--{/default}-->
          <!--{min_seq_len}-->8<!--{/min_seq_len}-->
          <!--{register}-->register_component<!--{/register}-->
          <!--{disable_bed/}-->
          <!--{enable_db/}-->
          <!--{/sequences}-->

          <!--{job_details/}-->
          <div style="margin-top: 5px; margin-bottom: 5px; width: 80%">
            <!--{advanced_options/}-->
            <div>
            <h3 class="meme top">How many alignments should be reported?</h3>
            <label for="alignments"># Alignments:</label>
            <input class="meme intonly sz2" type="number" id="alignments"
            name="alignments" value="25" step="1" min="1" max="200" size="2">
            <div class="help" data-topic="pop_alignments"></div>
            <!-- norc -->
            <h3 class="meme">Scan both strands? (DNA/RNA only)</h3>
            <input class="meme" type="checkbox" id="norc" name="norc" value="1">
            <label for="norc">Scan given strand only.</label>
            <div class="help" data-topic="pop_norc"></div>
            <!-- /norc -->
            </div>
          </div>
          <!--{submit_reset/}-->
        </fieldset>
      </form>
      <!--{footer/}-->
    </div>
    <script>
      // GLAM2SCAN doesn't allow BED files.
      var i, elements = document.getElementsByClassName("bedfile_added");
      for (i=0; i<elements.length; i++) { elements[i].style.display = "none"; }
    </script>
  </body>
</html>

